@page "/"

<PageTitle>Index</PageTitle>

<h1 style="text-align:center">Benvenuto sul progetto contatti!</h1>

<p style="text-align:center">Per iniziare, vai sulla tendina a sinistra per entrare nel menù inserimento della persona.</p>
<br />
<br />
<div style="display: flex; justify-content: center;">
    <img src="/Immagini/istockphoto-1124532572-170667a.jpg" alt="Descrizione Immagine" style="width: 2000px; height: 700px;"/>
</div>

